.navbar .container {
    font-family: 'Sometype Mono', monospace;
    background-color: var(--green-color);

    height: 60px;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    border: 2px solid var(--dark-color);
    padding: 10px;

    text-decoration: none;
    z-index: 1000;
}

.navbar .container #checkbox{
    display: none;
}

.navbar .container .mobile{
    display: none;
}

.navbar .container ul li{
    float: left;
    list-style: none;
    padding-right: 60px;
    font-size: 20px;
}

.navbar .container ul li a{
    text-decoration: none;
    color: var(--dark-color);
    position: relative;
    transition: 0.5s ease-in-out;
}

.navbar .container ul li a::before{
    content: '<';
    position: absolute;
    transform: scaleX(0);
    left: -12px;
    top: 0;
    transition: transform 0.25s ease-out;

}

.navbar .container ul li a:hover::before{
    transform: scaleX(1);

}

.navbar .container ul li a::after{
    content: '  />';
    position: absolute;
    transform: scaleX(0);
    right: -24px;
    top: 0;
    transition: transform 0.25s ease-out;
}

.navbar .container ul li a:hover::after{
    transform: scaleX(1);
}

.navbar .container ul .priority{
    float: right;
}

.navbar .container ul .priority a{
    background-color: var(--dark-color);
    color: white;
    border: 2px solid var(--dark-color);
    padding:13px;
    border-radius: 30px;
}

.navbar .container ul .priority a:hover{
    background-color: var(--grey-color);
    color: var(--dark-color);
}

.navbar .container ul .priority a::after{
    content: '';
}

.navbar .container ul .priority a::before{
    content: '';
}

@media (max-width: 810px) {
    .navbar .container ul li{
        padding-right: 40px;
    }
}

@media (max-width: 715px){

    .navbar .container .mobile{
        display: block;
        text-align: center;
    }

    .navbar .container{
        height: fit-content;
        border-radius: 0px;
        padding: 0px;
    }

    .navbar .container ul{
        display: none;
        width: 100%;
        padding-left: 0px;
    }

    .navbar .container #checkbox:checked ~ ul{
        display: block;
    }

    .navbar .container #checkbox:checked ~ ul li{
        float: none;
        padding: 15px;
        border-bottom: 2px solid var(--dark-color);
        text-align: center;
    }

    .navbar .container ul .priority a{
        color: var(--dark-color);
        padding: 0;
        background-color: var(--green-color);
        border: 0px
    }

    .navbar .container ul .priority a:hover{
        background-color: var(--green-color);
        border: 0px;
    }

    .navbar .container ul .priority a::after{
        content: ' />';
    }
    
    .navbar .container ul .priority a::before{
        content: '<';
    }
}
