@font-face {
    font-family: 'Sometype Mono';
    src: url(./resources/sometype_mono.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html{
    /* width: 100vw; */
}
body{
    margin: 0px;
    background-color: #D9D9D9;
    /* width: 100vw; */
}

.title{
    font-family: 'Sometype Mono';
    font-size: 50px;
    margin-left: 20px;
    margin-top: 50px;
    text-transform: capitalize;
}

.underline{
    width: 60%;
    height: 2px;
    background-color: #000000;
    margin-bottom: 20px;
}


.pre-loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #D1DAE7;
    color: #000000;
    z-index: 100000;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: opacity 0.75s, visibility 0.75s;
}

.pre-loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.dot{
    background-color: #C3EB2E;
    border:1px solid #000000;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    /* opacity: 0.9; */
    animation: moveit 1.8s infinite;
}

.dot:nth-child(2) {
    animation-delay: .15s;
}

.dot:nth-child(3) {
    animation-delay: .3s;
}

.dot:nth-child(4) {
    animation-delay: .45s;
}

.dot:nth-child(5) {
    animation-delay: .6s;
}

@keyframes moveit {
    0% {
      transform: translateY(0px);
    }
    35% {
      transform: translateY(0px);
      opacity: 0.5;
    }
    50% {
      transform: translateY(-20px);
      opacity: 0.8;
    }
    70% {
      transform: translateY(3px);
      opacity: 0.8;
    }
    85% {
      transform: translateY(-3px);
    }
}



@media (max-width:500px){
    .underline{
        width: 90%;
    }
}